@import "/fa/css/fontawesome.css";
@import "/fa/css/solid.css";
@import "/fa/css/regular.css";
@import "bulma/bulma.css";

html {
    overflow: auto;
}

body.x-viewport {
    margin: 0;
    height: 100%;
    width: 100%;
}

.x-floaters {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    pointer-events: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    /* contain: strict; */
}

.x-floaters > .x-mask,
.x-floaters > .x-component {
    position: absolute;
    pointer-events: all;
    z-index: 2;
}

.x-floaters > .x-component:not(.x-pos-h) {
    left: 0;
}

.x-floaters > .x-component:not(.x-pos-v) {
    top: 0;
}

.x-component {
    overflow: hidden;
}

.x-layout-hbox > .x-component,
.x-layout-auto > .x-component {
    display: inline flex;
}

.x-layout-hbox, .x-layout-vbox,
.x-box-h, .x-box-v {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    position: relative;
}

.x-layout-hbox,
.x-box-h {
    flex-flow: row nowrap;
}

.x-layout-vbox,
.x-box-v {
    flex-flow: column nowrap;
}

.x-body-wrap,
.x-box-body {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;
}

.x-mask {
    background-color: orange;
    opacity: 0.3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* ---------------------------------------------------------------------------- */

.x-card-item-container {
    //
}

.x-card-item {
    flex: 1 1 auto;
    transition: translate 0.2s ease-in;
}

.x-card-item:not(.x-card-item-active) {
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
}

.x-card-item:not(.x-card-item-active, .x-card-item-was-active) {
    opacity: 0;
}

.x-card-item-after-active {
    translate: 100%;
}

.x-card-item-before-active {
    translate: -100%;
}

/* ---------------------------------------------------------------------------- */

.main.title {
    padding: 8px 12px;
}

.navbar-menu {
    padding: 0 8px;
}
