@import "bulma/bulma.css";

.x-component:not(.x-viewport) {
    display: inline-flex;
    overflow: hidden;
}

.x-box-h, .x-box-v {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    position: relative;
}

.x-box-h {
    flex-flow: row nowrap;
}

.x-box-v {
    flex-flow: column nowrap;
}

.x-box-body {
    flex: 1 1 auto;
    overflow: hidden;
}
